<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{titulo.cadastro}">Cadastro</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stylecadastro.css}">
</head>
<body>
<div class="container">
    <h2 th:text="#{titulo.cadastro}">Cadastro</h2>
    <form th:action="@{/usuario/cadastrar}" method="post" th:object="${usuarioDto}">
        <div>
            <label th:text="#{formulario.nome}">Nome:</label>
            <input type="text" name="nome" required th:value="${nome}">
        </div>
        <div>
            <label th:text="#{formulario.cpf}">CPF:</label>
            <input type="text" name="cpf" required th:value="${cpf}">
        </div>
        <div>
            <label th:text="#{formulario.dataNascimento}">Data de Nascimento:</label>
            <input type="date" name="dataNascimento" required th:value="${dataNascimento}">
        </div>
        <div>
            <label th:text="#{formulario.senha}">Senha:</label>
            <input type="password" name="senha" required th:value="${senha}">
        </div>
        <button type="submit" th:text="#{formulario.cadastrar}">Cadastrar</button>
        <p style="text-align: center; margin-top: 10px;">
            <span th:text="#{formulario.jaTemConta}">Já tem uma conta?</span>>
            <a th:href="@{/usuario/login}
            "style="color: #007bff; text-decoration: none; font-weight: bold;" th:text="#{formulario.facaLogin}">Faça login</a>
        </p>
    </form>
    <p th:if="${erro}" th:text="#{formulario.erroCadastro}" style="color: red;"></p>
</div>
</body>
</html>

