<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/stylelogin.css}">
</head>
<body>
<div class="container">
<h2 th:text="#{titulo.login}">Login</h2>
<form action="/usuario/login" method="post">
    <div>
        <label th:text="#{formulario.cpf}">CPF:</label>
        <input type="text" name="cpf" required>
    </div>
    <div>
        <label th:text="#{formulario.senha}">Senha:</label>
        <input type="password" name="senha" required>
    </div>
    <button type="submit" th:text="#{formulario.login}">Entrar</button>
    <p style="text-align: center; margin-top: 10px;">
        <span th:text="#{formulario.cadastroTexto}">Ainda não tem uma conta?</span>
        <a th:href="@{/usuario/cadastro}" style="color: #007bff; text-decoration: none; font-weight: bold;" th:text="#{fomulario.rigistro}">Cadastre-se</a>
    </p>
</form>
<p th:if="${erro}" th:text="${erro}" style="color: red;"></p>
</div>
</body>
</html>
